<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 一、sql映射文件 -->
<!--<mapper namespace="com.Lemon.mybatis.bean.EmployeeMapper">
    &lt;!&ndash;
    1. namespace：名称空间
    2. select：
        1）id：唯一标识
        2）resultType：返回值类型
        3）#{id}：从传递过来的参数中取出id值
    &ndash;&gt;
    <select id="selectBlog" resultType="mybatis_1_HelloWorld.com.Lemon.mybatis.bean.Employee">
            select id,last_name lastName,email,gender from tbl_employee where id = #{id}
    </select>
</mapper>-->

<!-- 二、接口和xml配置文件动态绑定的功能 -->
<mapper namespace="mybatis_5_cache.com.Lemon.mybatis.dao.EmployeeMapper">
<!--
    1. namespace：名称空间，TODO 指定为接口的全类名
       ——从而将接口文件和sql映射文件绑定
    2. 接口中的getEmpById()方法的功能和select语句功能是相同的
       所以可以将select的id改成接口方法名
       ——从而将接口方法和select标签绑定
    -->
    <select id="getEmpById" resultType="mybatis_5_cache.com.Lemon.mybatis.bean.Employee"
            useCache="true" flushCache="true">
            select id,last_name lastName,email,gender from mybatis.tbl_employee where id = #{id}
    </select>

    <insert id="addEmp" parameterType="mybatis_5_cache.com.Lemon.mybatis.bean.Employee"
            useGeneratedKeys="true" keyProperty="id" >
        insert into mybatis.tbl_employee(last_name,email,gender)
        values(#{lastName},#{email},#{gender})
    </insert>

    <!-- TODO 5.1.2 二级缓存
        （1）eviction：缓存的回收策略
          —— LRU FIFO SOFT WEAK（默认LRU）
        （2）flushInterval：缓存刷新间隔
            缓存多长时间清空一次，默认不清空，可以设置一个毫秒值
        （3）readOnly：是否只读
            true：只读，所有从缓存中获取数据的操作都是只读操作，不会修改数据
                       为了加快获取速度，直接将数据在缓存中的引用交给用户
                 —— 不安全，速度快
            false：非只读，获取的数据可能被修改，mybatis会利用序列化和反序列化克隆一份新的数据给用户
                 —— 安全，速度慢
        （4）size：缓存中存放多少个元素
        （5）type：自定义缓存的全类名 —— 实现Cache接口即可
     -->
<!--    <cache eviction="FIFO" flushInterval="60000" readOnly="false" size="1024"/>-->

    <!-- TODO 5.2 ehcache
            第三方缓存整合步骤：
        1. 导入第三方缓存包
        2. 导入与第三方缓存整合的适配包
        3. xxMapper.xml中定义自定义缓存<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>
    <!-- cache-ref：引用缓存
        在DepartmentMapper中可以使用引用缓存，指定和哪个NameSpace名称空间下的缓存一样的缓存
    <cache-ref namespace="mybatis_5_cache.com.Lemon.mybatis.dao.EmployeeMapper"/>
    -->
</mapper>
